{% extends 'base.html' %}

{% block content %}

    <!-- Hero header -->

    <div class="row bg-dark mt-3">
        <div class="col">
            <h3 class="title text-white">
                {{ hero.name }}
            </h3>
        </div>
    </div>

    <!-- Heroes stats content-->
    <div class="row mt-3">
        <div class="container">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        {% for ability in abilities %}
                            <th>{{ ability.title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for ability in abilities %}
                            <td>{{ ability.description }}</th>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class=container>
            <table class="table table-hover table-dark">
                <tbody>
                    <tr>
                        <td>Level: 1</td>
                    </tr>
                    {% for talents in talents_tier_1 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 4</td>
                    </tr>
                    {% for talents in talents_tier_4 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 7</td>
                    </tr>
                    {% for talents in talents_tier_7 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 10</td>
                    </tr>
                    {% for talents in talents_tier_10 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 13</td>
                    </tr>
                    {% for talents in talents_tier_13 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 16</td>
                    </tr>
                    {% for talents in talents_tier_16 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Level: 20</td>
                    </tr>
                    {% for talents in talents_tier_20 %}
                        <tr>
                            <td>{{talents.title}}</td>
                            <td>{{talents.rate}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>     
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="row">
                <div class="container">
                    <header>
                        STRONG AGAINST
                    </header>

                    <table class="table table-hover table-striped table-dark">
                        <thead class="bg-dark">
                        <tr>
                            <th scope="col">Hero</th>
                            <th scope="col">{{ hero.name }} winrate</th>
                            <th scope="col">Total games</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for winrate in top_winrates %}
                            <tr>
                                <td>{{ winrate.second_hero }}</td>
                                <td>{{ winrate.winrate }}</td>
                                <td>{{ winrate.total_games }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-md-6 mt-3">
                <header>
                    WINRATE CHANGES
                </header>
                <div class="container bg-dark">
                    <canvas class="bg" id="winrate-changes" width="*" height="*"/>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="container">
                    <header>
                        WEAK AGAINST
                    </header>
                    <table class="table table-hover table-striped table-dark">
                        <thead class="bg-dark">
                        <tr>
                            <th scope="col">Hero</th>
                            <th scope="col">{{ hero.name }} winrate</th>
                            <th scope="col">Total games</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for winrate in down_winrates %}
                            <tr>
                                <td>{{ winrate.second_hero }}</td>
                                <td>{{ winrate.winrate }}</td>
                                <td>{{ winrate.total_games }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-md-6 mt-3">
                <header>
                    POPULARITY CHANGES
                </header>
                <div class="container bg-dark">
                    <canvas class="bg" id="popularity-changes" width="*" height="*"/>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script>
        new Chart(document.getElementById("winrate-changes").getContext('2d'), {
            type: 'line',
            data: {
                labels: ['February', 'January', 'December', 'November', 'October', 'September', 'August'],
                datasets: [{
                    data: {{ random_winrates }},
                    fill: false,
                    backgroundColor: [
                        'rgba(18, 166, 10, 1)',
                    ],
                    borderColor: [
                        'rgba(18, 166, 10, 1)',
                    ],
                    borderWidth: 5,
                    lineTension: 0
                }, {
                    data: [50, 50, 50, 50, 50, 50, 50],
                    fill: false,
                    pointRadius: 0,
                    borderColor: [
                        'rgba(255,255,255, 1)',
                    ],
                    borderWidth: 5,
                }]
            },
            options: {
                legend: {
                    display: false,
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 10,
                        bottom: 10
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 25,
                            min: 25,
                            max: 75,

                        },
                        gridLines: {
                            color: "#FFFFFF"
                        },
                    }],
                    xAxes: [{
                        gridLines: {
                            color: "#FFFFFF"

                        }
                    }]
                }
            }
        });</script>
    <script>
        new Chart(document.getElementById("popularity-changes").getContext('2d'), {
            type: 'line',
            data: {
                labels: ['February', 'January', 'December', 'November', 'October', 'September', 'August'],
                datasets: [{
                    data: {{ random_popularity }},
                    fill: false,
                    backgroundColor: [
                        'rgba(241, 90, 34, 1)',
                    ],
                    borderColor: [
                        'rgba(241, 90, 34, 1)',
                    ],
                    borderWidth: 5,
                    lineTension: 0
                }, {
                    data: [50, 50, 50, 50, 50, 50, 50],
                    fill: false,
                    pointRadius: 0,
                    borderColor: [
                        'rgba(255,255,255, 1)',
                    ],
                    borderWidth: 5,
                }]
            },
            options: {
                legend: {
                    display: false,
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 10,
                        bottom: 10
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 25,
                            min: 25,
                            max: 75,

                        },
                        gridLines: {
                            color: "#FFFFFF"
                        },
                    }],
                    xAxes: [{
                        gridLines: {
                            color: "#FFFFFF"

                        }
                    }]
                }
            }
        });</script>
{% endblock %}