{% extends 'base.html' %}



{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 ml-auto mr-auto">
                <h3 class="title text-center ">
                    Welcome!
                </h3>
                <div class="description align-content-center">
                    <p class="text-center" style="font-size: 100%;">This site was created to analyze the data of
                        victories and defeats of each individual hero.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-dark">
        <table id='heroes' class="table table-hover table-striped table-dark mt-3">
            <thead>
            <tr>
                <th scope="col">Hero</th>
                <th scope="col">Total games</th>
                <th scope="col">Wins</th>
                <th scope="col">Loses</th>
                <th scope="col">Winrate</th>
            </tr>
            </thead>
            <tbody>
            {% for hero in heroes %}
                <tr>
                    <td>
                        <a class="text-white" href="{% url 'hero_view' pk=hero.id %}">
                                {{ hero.name }}
                        </a></td>
                    <td>{{ hero.total_games }}</td>
                    <td>{{ hero.wins }}</td>
                    <td>{{ hero.loses }}</td>
                    <td>{{ hero.winrate }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}