<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material-kit (Bootstrap) -->

    {% include 'css.html' %}

    <!-- jQuery -->

    {% include 'js.html' %}

</head>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'meta_view' %}">Hots stats</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'meta_view' %}">Stats</a></li>
            <li class="nav-item"><a class="nav-link">Charts</a></li>
        </ul>
    </div>
</nav>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
<footer>
    <div class="container">
         &nbsp;
    </div>
</footer>
</html>